.header {
    background-image: url("../imagens/headerimg.png");
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.nave {
    padding: 1rem;
    display:flex ;
    gap: 3rem;

}
.nave a {
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
}
.nave a:hover {
    background-color: rgb(226, 126, 109);
}